    <div class="form-group">
      <%= f.label :Prenom %><br>
      <%= f.text_field :first_name, class: "form-control" , :autocomplete => :off%>
    </div>
    <div class="form-group">
      <%= f.label :Nom %><br>
      <%= f.text_field :last_name, class: "form-control", :autocomplete => :off %>
    </div>
    <div class="form-group">
      <%= f.label :Telephone %><br>
      <%= f.telephone_field :phone, class: "form-control", :autocomplete => :off %>
    </div>
    <div class="form-group">
      <%= f.label :Email %><br>
      <%= f.email_field :email, class: "form-control", :autocomplete => :off %>
    </div>
    <div class="form-group">
      <%= f.label :Adresse  %><br>
      <%= f.text_field :address, class: "form-control", :autocomplete => :off %>
    </div>
    <div class="form-group">
      <%= f.label :photo  %><br>
      <%= f.file_field :image %>
    </div>
    <div class="form-group valid-btn-wrapper">
      <%= f.submit "Valider", class: "btn btn-lg btn-primary valid-btn" %>
    </div>