<%= stylesheet_link_tag "index" %>

<div class="container-contact">
  <h1> My contacts </h1>

  <table class = "table table-bordered">
    <caption> <%= @nb_contacts %> <% if @nb_contacts > 1 %> contacts trouvés <% else %> contact trouvé <% end %>  </caption>

    <thead>
    <tr>
      <th class="text-center">photo</th>
      <th class="text-center">nom</th>
      <th class="text-center">prenom</th>
      <th class="text-center">phone</th>
      <th class="text-center">Action</th>
      <th class="text-center"> Flag </th>
    </tr>
    </thead>

    <tbody>
    <%
      nb_contact = 0
      @contacts.each do |contact|
        if !contact
          break
        end
        nb_contact += 1
    %>
    <tr>
        <td class="text-center">
          <% if contact.image_url.present? %>
              <%= image_tag contact.image_url.to_s, :class => "image-contact-S" %>
          <% else %>
              <img class="image-contact-S" src="user-default-XL.png"/>
          <% end %>
        </td>
        <td><%= contact.first_name %></td>
        <td> <%= contact.last_name %> </td>
        <td> <%= contact.phone %></td>
        <td class="text-center">
          <%= link_to '/contacts/'+contact.id.to_s, :class => "btn btn-primary btn-xs" do %>
              <span class="glyphicon glyphicon-eye-open"></span>
          <% end %>
          <%= link_to '/contacts/'+ contact.id.to_s+'/edit', :class => "btn btn-warning btn-xs" do %>
              <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to '/contacts/'+ contact.id.to_s ,method: :delete, :class => "btn btn-danger btn-xs" do %>
              <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </td>
      <td class="text-center">
        <%= link_to '/contacts/'+contact.id.to_s+'/change_flag', method: :patch do %>
            <% if contact.flag.blank? || contact.flag == false %>
                <img src="black-star.png"/>
            <% else %>
                <img src="yellow-star.png"/>
            <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
    </tbody>



  </table>
</div>
