<%= stylesheet_link_tag "show" %>

<div class="container-contact">

    <div class="panel panel-info">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-lg-3 " align="center">
            <% if @contact.image_url.present? %>
                <%= image_tag @contact.image_url.to_s, :class => "image-contact-L" %>
            <% else %>
                <%= image_tag "user-default-XL.png", :class => "image-contact-L" %>
            <% end %>
          </div>
          <div class=" col-md-9 col-lg-9 ">
            <table class="table table-user-information">
              <tbody>
              <tr>
                <td>Prenom : </td>
                <td><%= @contact.first_name %></td>
              </tr>
              <tr>
                <td>Nom : </td>
                <td><%= @contact.last_name %></td>
              </tr>
              <tr>
                <td>Telephone : </td>
                <td><%= @contact.phone %></td>
              </tr>
              <tr>
                <td>Email : </td>
                <td><%= @contact.email %></td>
              </tr>
              <tr>
                <td>Adresse : </td>
                <td><%= @contact.address%></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="export-btn-wrapper">
      <%= link_to '/contacts/'+ @contact.id.to_s+'.pdf', :class => "btn btn-primary" do %>
          <span class="glyphicon glyphicon-export"> Exporter en pdf </span>
      <% end %>
    </div>

</div>